.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

li {
    background-color:grey;
    float: left;
    width: 30%;
    height: 40px;
    border: solid black 1px;
}
