
<div class="game">
<ul data-game_id='<%=@game.id%>' id="parent-list">
    <li class="player_boxes btn-info" id="0">Pick Your Poison</li>
    <li class="player_boxes btn-info" id="1">Pick Your Poison</li>
    <li class="player_boxes btn-info" id="2">Pick Your Poison</li>
    <li class="player_boxes btn-info" id="3">Pick Your Poison</li>
    <li class="player_boxes btn-info" id="5">Pick Your Poison</li>
    <li class="player_boxes btn-info" id="6">Pick Your Poison</li>
    <li class="player_boxes btn-info" id="7">Pick Your Poison</li>
    <li class="player_boxes btn-info" id="8">Pick Your Poison</li>
    <li class="player_boxes btn-info" id="9">Pick Your Poison</li>
</ul>
</div>
