
<ul data-game_id='<%=@game.id%>' id="parent-list">
    <li class="btn-info" id="0">Item 1</li>
    <li class="btn-info" id="1">Item 2</li>
    <li class="btn-info" id="2">Item 3</li>
    <li class="btn-info" id="3">Item 4</li>
    <li class="btn-info" id="4">Item 5</li>
    <li class="btn-info" id="5">Item 6</li>
    <li class="btn-info" id="6">Item 7</li>
    <li class="btn-info" id="7">Item 8</li>
    <li class="btn-info" id="8">Item 9</li>
</ul>
